<a href="https://colab.research.google.com/github/4nirudh5/Customer_churn_V2/blob/main/ccv2_ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from imblearn.combine import SMOTEENN
import pickle

In [ ]:
df = pd.read_csv('telecom_churn.csv')
df.head(20)

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
5,0,118,0,0,0.00,0,223.4,98,57.0,11.03,6.3
6,0,121,1,1,2.03,3,218.2,88,87.3,17.43,7.5
7,0,147,0,0,0.00,0,157.0,79,36.0,5.16,7.1
8,0,117,1,0,0.19,1,184.5,97,63.9,17.58,8.7
9,0,141,0,1,3.02,0,258.6,84,93.2,11.10,11.2
10,1,65,1,0,0.29,4,129.1,137,44.9,11.43,12.7
11,0,74,1,0,0.34,0,187.7,127,49.4,8.17,9.1
12,0,168,1,0,0.00,1,128.8,96,31.0,5.25,11.2
13,0,95,1,0,0.44,3,156.6,88,52.4,12.38,12.3
14,0,62,1,0,0.00,4,120.7,70,47.0,15.36,13.1
15,1,161,1,0,0.00,4,332.9,67,84.0,15.89,5.4
16,0,85,1,1,3.73,1,196.4,139,95.3,14.05,13.8
17,0,93,1,0,0.00,3,190.7,114,51.0,10.91,8.1
18,0,76,1,1,2.70,1,189.7,66,78.0,10.64,10.0
19,0,73,1,0,0.00,1,224.4,90,52.0,7.98,13.0

In [ ]:
x = df.iloc[:,1:11]
y = df.iloc[:,[0]]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)

In [ ]:
dt.score(x_test,y_test)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
sm = SMOTEENN()
x_resampled, y_resampled = sm.fit_resample(x,y)

xr_train,xr_test,yr_train,yr_test=train_test_split(x_resampled, y_resampled,test_size=0.2)

dts = DecisionTreeClassifier()
dts.fit(xr_train,yr_train)
yr_pred = dts.predict(xr_test)

In [ ]:
dts.score(xr_test,yr_test)

In [ ]:
print(classification_report(yr_test, yr_pred))

In [ ]:
filename = 'decisiontree_sm.sav'
pickle.dump(dts, open(filename, 'wb'))

In [ ]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [ ]:
rf.score(x_test,y_test)

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
sm = SMOTEENN()
x_resampled, y_resampled = sm.fit_resample(x,y)

xf_train,xf_test,yf_train,yf_test=train_test_split(x_resampled, y_resampled,test_size=0.2)

rfs = RandomForestClassifier()
rfs.fit(xf_train,yf_train)
yf_pred = rfs.predict(xf_test)

In [ ]:
rfs.score(xf_test,yf_test)

In [ ]:
print(classification_report(yf_test,yf_pred))

In [ ]:
filename = 'randomforest_sm.sav'
pickle.dump(rfs, open(filename, 'wb'))